App/Service References/RepCajaService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepCajaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepCaja_GetCuentasDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasDetalle" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetCuentasDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetCuentasResumen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasResumen" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetCuentasResumen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCuentasResumenResponse" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetInstrumentosDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstrumentosDetalle" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetInstrumentosDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstrumentosDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetInstrumentosResumen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstrumentosResumen" />
  </wsdl:message>
  <wsdl:message name="IRepCaja_GetInstrumentosResumen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstrumentosResumenResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepCaja">
    <wsdl:operation name="GetCuentasDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCaja/GetCuentasDetalle" message="tns:IRepCaja_GetCuentasDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCaja/GetCuentasDetalleResponse" message="tns:IRepCaja_GetCuentasDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentasResumen">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCaja/GetCuentasResumen" message="tns:IRepCaja_GetCuentasResumen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCaja/GetCuentasResumenResponse" message="tns:IRepCaja_GetCuentasResumen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstrumentosDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCaja/GetInstrumentosDetalle" message="tns:IRepCaja_GetInstrumentosDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCaja/GetInstrumentosDetalleResponse" message="tns:IRepCaja_GetInstrumentosDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstrumentosResumen">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCaja/GetInstrumentosResumen" message="tns:IRepCaja_GetInstrumentosResumen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCaja/GetInstrumentosResumenResponse" message="tns:IRepCaja_GetInstrumentosResumen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepCaja" type="tns:IRepCaja">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCuentasDetalle">
      <soap:operation soapAction="http://tempuri.org/IRepCaja/GetCuentasDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentasResumen">
      <soap:operation soapAction="http://tempuri.org/IRepCaja/GetCuentasResumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstrumentosDetalle">
      <soap:operation soapAction="http://tempuri.org/IRepCaja/GetInstrumentosDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstrumentosResumen">
      <soap:operation soapAction="http://tempuri.org/IRepCaja/GetInstrumentosResumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepCajaService">
    <wsdl:port name="BasicHttpBinding_IRepCaja" binding="tns:BasicHttpBinding_IRepCaja">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/RepCajaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>