App/Service References/RepCompraService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepCompraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepCompra_GetResumenOperaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenOperaciones" />
  </wsdl:message>
  <wsdl:message name="IRepCompra_GetResumenOperaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenOperacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IRepCompra_GetDetalleOperaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleOperaciones" />
  </wsdl:message>
  <wsdl:message name="IRepCompra_GetDetalleOperaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleOperacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IRepCompra_GetProveedorOperaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProveedorOperaciones" />
  </wsdl:message>
  <wsdl:message name="IRepCompra_GetProveedorOperaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProveedorOperacionesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepCompra">
    <wsdl:operation name="GetResumenOperaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCompra/GetResumenOperaciones" message="tns:IRepCompra_GetResumenOperaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCompra/GetResumenOperacionesResponse" message="tns:IRepCompra_GetResumenOperaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleOperaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCompra/GetDetalleOperaciones" message="tns:IRepCompra_GetDetalleOperaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCompra/GetDetalleOperacionesResponse" message="tns:IRepCompra_GetDetalleOperaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProveedorOperaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepCompra/GetProveedorOperaciones" message="tns:IRepCompra_GetProveedorOperaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepCompra/GetProveedorOperacionesResponse" message="tns:IRepCompra_GetProveedorOperaciones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepCompra" type="tns:IRepCompra">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResumenOperaciones">
      <soap:operation soapAction="http://tempuri.org/IRepCompra/GetResumenOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleOperaciones">
      <soap:operation soapAction="http://tempuri.org/IRepCompra/GetDetalleOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProveedorOperaciones">
      <soap:operation soapAction="http://tempuri.org/IRepCompra/GetProveedorOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepCompraService">
    <wsdl:port name="BasicHttpBinding_IRepCompra" binding="tns:BasicHttpBinding_IRepCompra">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/RepCompraService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>