App/Service References/RepCompraService/WCF.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRepCompra">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepCompra" nillable="true" type="tns:RepCompra" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepCompra" nillable="true" type="tns:ArrayOfRepCompra" />
  <xs:complexType name="RepCompra">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="cotizacion_valor" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_documento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_control" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_control_documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proveedor_rif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_documento_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepCompra" nillable="true" type="tns:RepCompra" />
</xs:schema>