App/Service References/ColMovimientoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ColMovimientoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IColMovimiento_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IColMovimiento_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IColMovimiento_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IColMovimiento_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IColMovimiento_SetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOne" />
  </wsdl:message>
  <wsdl:message name="IColMovimiento_SetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneResponse" />
  </wsdl:message>
  <wsdl:portType name="IColMovimiento">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IColMovimiento/Delete" message="tns:IColMovimiento_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColMovimiento/DeleteResponse" message="tns:IColMovimiento_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IColMovimiento/GetList" message="tns:IColMovimiento_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColMovimiento/GetListResponse" message="tns:IColMovimiento_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IColMovimiento/SetOne" message="tns:IColMovimiento_SetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColMovimiento/SetOneResponse" message="tns:IColMovimiento_SetOne_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IColMovimiento" type="tns:IColMovimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IColMovimiento/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IColMovimiento/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <soap:operation soapAction="http://tempuri.org/IColMovimiento/SetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColMovimientoService">
    <wsdl:port name="BasicHttpBinding_IColMovimiento" binding="tns:BasicHttpBinding_IColMovimiento">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/ColMovimientoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>