App/Service References/CajOperacionService/WCF.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCajOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CajOperacion" nillable="true" type="tns:CajOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCajOperacion" nillable="true" type="tns:ArrayOfCajOperacion" />
  <xs:complexType name="CajOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_cotizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="id_status" type="xs:int" />
      <xs:element minOccurs="0" name="id_tipo_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="monto_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="nro_control" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:int" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_operacion_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CajOperacion" nillable="true" type="tns:CajOperacion" />
  <xs:complexType name="ArrayOfCajMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CajMovimiento" nillable="true" type="tns:CajMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCajMovimiento" nillable="true" type="tns:ArrayOfCajMovimiento" />
  <xs:complexType name="CajMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuenta_banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuenta_numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="factor" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_cuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_instrumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_tipo_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instrumento_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="moneda_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="monto_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="numero_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CajMovimiento" nillable="true" type="tns:CajMovimiento" />
</xs:schema>