App/Service References/RepDashboardService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepDashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepDashboard_GetResumenCaja_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenCaja" />
  </wsdl:message>
  <wsdl:message name="IRepDashboard_GetResumenCaja_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenCajaResponse" />
  </wsdl:message>
  <wsdl:message name="IRepDashboard_GetResumenGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenGeneral" />
  </wsdl:message>
  <wsdl:message name="IRepDashboard_GetResumenGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenGeneralResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepDashboard">
    <wsdl:operation name="GetResumenCaja">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepDashboard/GetResumenCaja" message="tns:IRepDashboard_GetResumenCaja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepDashboard/GetResumenCajaResponse" message="tns:IRepDashboard_GetResumenCaja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResumenGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepDashboard/GetResumenGeneral" message="tns:IRepDashboard_GetResumenGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepDashboard/GetResumenGeneralResponse" message="tns:IRepDashboard_GetResumenGeneral_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepDashboard" type="tns:IRepDashboard">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResumenCaja">
      <soap:operation soapAction="http://tempuri.org/IRepDashboard/GetResumenCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResumenGeneral">
      <soap:operation soapAction="http://tempuri.org/IRepDashboard/GetResumenGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepDashboardService">
    <wsdl:port name="BasicHttpBinding_IRepDashboard" binding="tns:BasicHttpBinding_IRepDashboard">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/RepDashboardService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>