App/Service References/RepDashboardService/WCF.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRepDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepDashboard" nillable="true" type="tns:RepDashboard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepDashboard" nillable="true" type="tns:ArrayOfRepDashboard" />
  <xs:complexType name="RepDashboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="entrada" type="xs:double" />
      <xs:element minOccurs="0" name="entrada_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salida" type="xs:double" />
      <xs:element minOccurs="0" name="salida_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="total_moneda" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepDashboard" nillable="true" type="tns:RepDashboard" />
</xs:schema>