App/Service References/CmpProveedorService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCmpProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CmpProveedor" nillable="true" type="tns:CmpProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCmpProveedor" nillable="true" type="tns:ArrayOfCmpProveedor" />
  <xs:complexType name="CmpProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero_cuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="representante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CmpProveedor" nillable="true" type="tns:CmpProveedor" />
</xs:schema>