App/Service References/VntClienteService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VntClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVntCliente_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IVntCliente_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IVntCliente_GetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOne" />
  </wsdl:message>
  <wsdl:message name="IVntCliente_GetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneResponse" />
  </wsdl:message>
  <wsdl:message name="IVntCliente_SetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOne" />
  </wsdl:message>
  <wsdl:message name="IVntCliente_SetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneResponse" />
  </wsdl:message>
  <wsdl:portType name="IVntCliente">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntCliente/GetList" message="tns:IVntCliente_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntCliente/GetListResponse" message="tns:IVntCliente_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntCliente/GetOne" message="tns:IVntCliente_GetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntCliente/GetOneResponse" message="tns:IVntCliente_GetOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntCliente/SetOne" message="tns:IVntCliente_SetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntCliente/SetOneResponse" message="tns:IVntCliente_SetOne_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVntCliente" type="tns:IVntCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IVntCliente/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <soap:operation soapAction="http://tempuri.org/IVntCliente/GetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <soap:operation soapAction="http://tempuri.org/IVntCliente/SetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VntClienteService">
    <wsdl:port name="BasicHttpBinding_IVntCliente" binding="tns:BasicHttpBinding_IVntCliente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/VntClienteService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>