App/Service References/VntClienteService/WCF.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVntCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VntCliente" nillable="true" type="tns:VntCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVntCliente" nillable="true" type="tns:ArrayOfVntCliente" />
  <xs:complexType name="VntCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="abonos" type="xs:double" />
      <xs:element minOccurs="0" name="abonos_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="deuda" type="xs:double" />
      <xs:element minOccurs="0" name="deuda_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="limite_credito" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="rif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="total_moneda" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VntCliente" nillable="true" type="tns:VntCliente" />
</xs:schema>