App/Service References/InvCategoriaService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInvCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvCategoria" nillable="true" type="tns:InvCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvCategoria" nillable="true" type="tns:ArrayOfInvCategoria" />
  <xs:complexType name="InvCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvCategoria" nillable="true" type="tns:InvCategoria" />
</xs:schema>