App/Service References/CmpOperacionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CmpOperacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICmpOperacion_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_GetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOne" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_GetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_SetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOne" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_SetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_NullOne_InputMessage">
    <wsdl:part name="parameters" element="tns:NullOne" />
  </wsdl:message>
  <wsdl:message name="ICmpOperacion_NullOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:NullOneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICmpOperacion">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpOperacion/GetList" message="tns:ICmpOperacion_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpOperacion/GetListResponse" message="tns:ICmpOperacion_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpOperacion/GetOne" message="tns:ICmpOperacion_GetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpOperacion/GetOneResponse" message="tns:ICmpOperacion_GetOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpOperacion/SetOne" message="tns:ICmpOperacion_SetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpOperacion/SetOneResponse" message="tns:ICmpOperacion_SetOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NullOne">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpOperacion/NullOne" message="tns:ICmpOperacion_NullOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpOperacion/NullOneResponse" message="tns:ICmpOperacion_NullOne_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICmpOperacion" type="tns:ICmpOperacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ICmpOperacion/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <soap:operation soapAction="http://tempuri.org/ICmpOperacion/GetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <soap:operation soapAction="http://tempuri.org/ICmpOperacion/SetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NullOne">
      <soap:operation soapAction="http://tempuri.org/ICmpOperacion/NullOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CmpOperacionService">
    <wsdl:port name="BasicHttpBinding_ICmpOperacion" binding="tns:BasicHttpBinding_ICmpOperacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/CmpOperacionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>