App/Service References/CmpOperacionService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetListResult" nillable="true" type="q1:ArrayOfCmpOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetOneResult" nillable="true" type="q2:CmpOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="one" nillable="true" type="q3:CmpOperacion" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="detail" nillable="true" type="q4:ArrayOfInvMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NullOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="one" nillable="true" type="q5:CmpOperacion" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="detail" nillable="true" type="q6:ArrayOfInvMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NullOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NullOneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>