App/Service References/InvMovimientoService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInvMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvMovimiento" nillable="true" type="tns:InvMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvMovimiento" nillable="true" type="tns:ArrayOfInvMovimiento" />
  <xs:complexType name="InvMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="costo_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_impuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_tipo_operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="monto_impuesto" type="xs:double" />
      <xs:element minOccurs="0" name="monto_impuesto_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="monto_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="pct_comision" type="xs:double" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precio_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="producto_codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producto_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producto_unidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor_impuesto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvMovimiento" nillable="true" type="tns:InvMovimiento" />
</xs:schema>