App/Service References/RepInventarioService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepInventarioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepInventario_GetResumenMovimientos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenMovimientos" />
  </wsdl:message>
  <wsdl:message name="IRepInventario_GetResumenMovimientos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenMovimientosResponse" />
  </wsdl:message>
  <wsdl:message name="IRepInventario_GetDetalleMovimientos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleMovimientos" />
  </wsdl:message>
  <wsdl:message name="IRepInventario_GetDetalleMovimientos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleMovimientosResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepInventario">
    <wsdl:operation name="GetResumenMovimientos">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepInventario/GetResumenMovimientos" message="tns:IRepInventario_GetResumenMovimientos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepInventario/GetResumenMovimientosResponse" message="tns:IRepInventario_GetResumenMovimientos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleMovimientos">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepInventario/GetDetalleMovimientos" message="tns:IRepInventario_GetDetalleMovimientos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepInventario/GetDetalleMovimientosResponse" message="tns:IRepInventario_GetDetalleMovimientos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepInventario" type="tns:IRepInventario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResumenMovimientos">
      <soap:operation soapAction="http://tempuri.org/IRepInventario/GetResumenMovimientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleMovimientos">
      <soap:operation soapAction="http://tempuri.org/IRepInventario/GetDetalleMovimientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepInventarioService">
    <wsdl:port name="BasicHttpBinding_IRepInventario" binding="tns:BasicHttpBinding_IRepInventario">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/RepInventarioService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>