App/Service References/SisImpuestoService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSisImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SisImpuesto" nillable="true" type="tns:SisImpuesto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSisImpuesto" nillable="true" type="tns:ArrayOfSisImpuesto" />
  <xs:complexType name="SisImpuesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="valor" type="xs:double" />
      <xs:element minOccurs="0" name="valor_display" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SisImpuesto" nillable="true" type="tns:SisImpuesto" />
</xs:schema>