App/Service References/CnfCotizacionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CnfCotizacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICnfCotizacion_GetLast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLast" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetLast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastResponse" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOne" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneResponse" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetListDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListDetail" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_GetListDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_SetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOne" />
  </wsdl:message>
  <wsdl:message name="ICnfCotizacion_SetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneResponse" />
  </wsdl:message>
  <wsdl:portType name="ICnfCotizacion">
    <wsdl:operation name="GetLast">
      <wsdl:input wsaw:Action="http://tempuri.org/ICnfCotizacion/GetLast" message="tns:ICnfCotizacion_GetLast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICnfCotizacion/GetLastResponse" message="tns:ICnfCotizacion_GetLast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICnfCotizacion/GetList" message="tns:ICnfCotizacion_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICnfCotizacion/GetListResponse" message="tns:ICnfCotizacion_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/ICnfCotizacion/GetOne" message="tns:ICnfCotizacion_GetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICnfCotizacion/GetOneResponse" message="tns:ICnfCotizacion_GetOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICnfCotizacion/GetListDetail" message="tns:ICnfCotizacion_GetListDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICnfCotizacion/GetListDetailResponse" message="tns:ICnfCotizacion_GetListDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/ICnfCotizacion/SetOne" message="tns:ICnfCotizacion_SetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICnfCotizacion/SetOneResponse" message="tns:ICnfCotizacion_SetOne_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICnfCotizacion" type="tns:ICnfCotizacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLast">
      <soap:operation soapAction="http://tempuri.org/ICnfCotizacion/GetLast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ICnfCotizacion/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <soap:operation soapAction="http://tempuri.org/ICnfCotizacion/GetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDetail">
      <soap:operation soapAction="http://tempuri.org/ICnfCotizacion/GetListDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <soap:operation soapAction="http://tempuri.org/ICnfCotizacion/SetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CnfCotizacionService">
    <wsdl:port name="BasicHttpBinding_ICnfCotizacion" binding="tns:BasicHttpBinding_ICnfCotizacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/CnfCotizacionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>