App/Service References/SisUsuariosService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSisUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SisUsuarios" nillable="true" type="tns:SisUsuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSisUsuarios" nillable="true" type="tns:ArrayOfSisUsuarios" />
  <xs:complexType name="SisUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa_inactiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="empresa_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="es_inactivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_tipo" type="xs:byte" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="logname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permisos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SisUsuarios" nillable="true" type="tns:SisUsuarios" />
</xs:schema>