App/Service References/SisOperacionService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSisOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SisOperacion" nillable="true" type="tns:SisOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSisOperacion" nillable="true" type="tns:ArrayOfSisOperacion" />
  <xs:complexType name="SisOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="es_autorizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="es_derivado" type="xs:boolean" />
      <xs:element minOccurs="0" name="es_fiscal" type="xs:boolean" />
      <xs:element minOccurs="0" name="es_transporte" type="xs:boolean" />
      <xs:element minOccurs="0" name="es_visible" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="signo_caja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="signo_inventario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SisOperacion" nillable="true" type="tns:SisOperacion" />
</xs:schema>