App/Service References/RepVentaService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RepVentaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRepVenta_GetResumenOperaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenOperaciones" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetResumenOperaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResumenOperacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetDetalleOperaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleOperaciones" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetDetalleOperaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleOperacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClienteOperaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteOperaciones" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClienteOperaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteOperacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClienteDeudasResumen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteDeudasResumen" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClienteDeudasResumen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteDeudasResumenResponse" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClienteDeudasDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteDeudasDetalle" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClienteDeudasDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClienteDeudasDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClientePagosRecibidos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientePagosRecibidos" />
  </wsdl:message>
  <wsdl:message name="IRepVenta_GetClientePagosRecibidos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientePagosRecibidosResponse" />
  </wsdl:message>
  <wsdl:portType name="IRepVenta">
    <wsdl:operation name="GetResumenOperaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepVenta/GetResumenOperaciones" message="tns:IRepVenta_GetResumenOperaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepVenta/GetResumenOperacionesResponse" message="tns:IRepVenta_GetResumenOperaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleOperaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepVenta/GetDetalleOperaciones" message="tns:IRepVenta_GetDetalleOperaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepVenta/GetDetalleOperacionesResponse" message="tns:IRepVenta_GetDetalleOperaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteOperaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepVenta/GetClienteOperaciones" message="tns:IRepVenta_GetClienteOperaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepVenta/GetClienteOperacionesResponse" message="tns:IRepVenta_GetClienteOperaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteDeudasResumen">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepVenta/GetClienteDeudasResumen" message="tns:IRepVenta_GetClienteDeudasResumen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepVenta/GetClienteDeudasResumenResponse" message="tns:IRepVenta_GetClienteDeudasResumen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClienteDeudasDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepVenta/GetClienteDeudasDetalle" message="tns:IRepVenta_GetClienteDeudasDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepVenta/GetClienteDeudasDetalleResponse" message="tns:IRepVenta_GetClienteDeudasDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientePagosRecibidos">
      <wsdl:input wsaw:Action="http://tempuri.org/IRepVenta/GetClientePagosRecibidos" message="tns:IRepVenta_GetClientePagosRecibidos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRepVenta/GetClientePagosRecibidosResponse" message="tns:IRepVenta_GetClientePagosRecibidos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRepVenta" type="tns:IRepVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResumenOperaciones">
      <soap:operation soapAction="http://tempuri.org/IRepVenta/GetResumenOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleOperaciones">
      <soap:operation soapAction="http://tempuri.org/IRepVenta/GetDetalleOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteOperaciones">
      <soap:operation soapAction="http://tempuri.org/IRepVenta/GetClienteOperaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteDeudasResumen">
      <soap:operation soapAction="http://tempuri.org/IRepVenta/GetClienteDeudasResumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClienteDeudasDetalle">
      <soap:operation soapAction="http://tempuri.org/IRepVenta/GetClienteDeudasDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientePagosRecibidos">
      <soap:operation soapAction="http://tempuri.org/IRepVenta/GetClientePagosRecibidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepVentaService">
    <wsdl:port name="BasicHttpBinding_IRepVenta" binding="tns:BasicHttpBinding_IRepVenta">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/RepVentaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>