App/Service References/RepVentaService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
  <xs:element name="GetResumenOperaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResumenOperacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetResumenOperacionesResult" nillable="true" type="q1:ArrayOfRepVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleOperaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetalleOperacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetDetalleOperacionesResult" nillable="true" type="q2:ArrayOfRepVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteOperaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteOperacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetClienteOperacionesResult" nillable="true" type="q3:ArrayOfRepVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteDeudasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteDeudasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetClienteDeudasResumenResult" nillable="true" type="q4:ArrayOfRepVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteDeudasDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_cliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteDeudasDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetClienteDeudasDetalleResult" nillable="true" type="q5:ArrayOfRepVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientePagosRecibidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_cliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientePagosRecibidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetClientePagosRecibidosResult" nillable="true" type="q6:ArrayOfRepVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>