App/Service References/RepVentaService/WCF.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRepVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RepVenta" nillable="true" type="tns:RepVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRepVenta" nillable="true" type="tns:ArrayOfRepVenta" />
  <xs:complexType name="RepVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="abonos" type="xs:double" />
      <xs:element minOccurs="0" name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="cliente_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cliente_rif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cotizacion_valor" type="xs:double" />
      <xs:element minOccurs="0" name="deuda" type="xs:double" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_documento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="instrumento_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_control" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_control_documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro_referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_operacion_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RepVenta" nillable="true" type="tns:RepVenta" />
</xs:schema>