App/Service References/VntOperacionService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
  <xs:element name="GetDeudasCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeudasClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetDeudasClienteResult" nillable="true" type="q1:ArrayOfVntOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetListResult" nillable="true" type="q2:ArrayOfVntOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="GetOneResult" nillable="true" type="q3:VntOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAbono">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="one" nillable="true" type="q4:VntOperacion" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="pago" nillable="true" type="q5:ArrayOfCajMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAbonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAbonoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="one" nillable="true" type="q6:VntOperacion" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="detail" nillable="true" type="q7:ArrayOfInvMovimiento" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="pago" nillable="true" type="q8:ArrayOfCajMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NullOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="one" nillable="true" type="q9:VntOperacion" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF.Entities" minOccurs="0" name="detail" nillable="true" type="q10:ArrayOfInvMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NullOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NullOneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>