App/Service References/VntOperacionService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VntOperacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVntOperacion_GetDeudasCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeudasCliente" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_GetDeudasCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeudasClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_GetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOne" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_GetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneResponse" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_SetAbono_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAbono" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_SetAbono_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAbonoResponse" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_SetOne_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOne" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_SetOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOneResponse" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_NullOne_InputMessage">
    <wsdl:part name="parameters" element="tns:NullOne" />
  </wsdl:message>
  <wsdl:message name="IVntOperacion_NullOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:NullOneResponse" />
  </wsdl:message>
  <wsdl:portType name="IVntOperacion">
    <wsdl:operation name="GetDeudasCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntOperacion/GetDeudasCliente" message="tns:IVntOperacion_GetDeudasCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntOperacion/GetDeudasClienteResponse" message="tns:IVntOperacion_GetDeudasCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntOperacion/GetList" message="tns:IVntOperacion_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntOperacion/GetListResponse" message="tns:IVntOperacion_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntOperacion/GetOne" message="tns:IVntOperacion_GetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntOperacion/GetOneResponse" message="tns:IVntOperacion_GetOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAbono">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntOperacion/SetAbono" message="tns:IVntOperacion_SetAbono_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntOperacion/SetAbonoResponse" message="tns:IVntOperacion_SetAbono_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntOperacion/SetOne" message="tns:IVntOperacion_SetOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntOperacion/SetOneResponse" message="tns:IVntOperacion_SetOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NullOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IVntOperacion/NullOne" message="tns:IVntOperacion_NullOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVntOperacion/NullOneResponse" message="tns:IVntOperacion_NullOne_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVntOperacion" type="tns:IVntOperacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeudasCliente">
      <soap:operation soapAction="http://tempuri.org/IVntOperacion/GetDeudasCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IVntOperacion/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOne">
      <soap:operation soapAction="http://tempuri.org/IVntOperacion/GetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAbono">
      <soap:operation soapAction="http://tempuri.org/IVntOperacion/SetAbono" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOne">
      <soap:operation soapAction="http://tempuri.org/IVntOperacion/SetOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NullOne">
      <soap:operation soapAction="http://tempuri.org/IVntOperacion/NullOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VntOperacionService">
    <wsdl:port name="BasicHttpBinding_IVntOperacion" binding="tns:BasicHttpBinding_IVntOperacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/VntOperacionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>