App/Service References/CnfCuentaBancariaService/WCF.Entities1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCnfCuentaBancaria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CnfCuentaBancaria" nillable="true" type="tns:CnfCuentaBancaria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCnfCuentaBancaria" nillable="true" type="tns:ArrayOfCnfCuentaBancaria" />
  <xs:complexType name="CnfCuentaBancaria">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_banco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CnfCuentaBancaria" nillable="true" type="tns:CnfCuentaBancaria" />
</xs:schema>