App/Service References/InvProductoService/WCF.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInvProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvProducto" nillable="true" type="tns:InvProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvProducto" nillable="true" type="tns:ArrayOfInvProducto" />
  <xs:complexType name="InvProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad_empaque" type="xs:double" />
      <xs:element minOccurs="0" name="categoria_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="costo_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="descripcion_web" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="es_inactivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="es_visible_web" type="xs:short" />
      <xs:element minOccurs="0" name="existencia" type="xs:double" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_impuesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_unidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="impuesto_valor" type="xs:double" />
      <xs:element minOccurs="0" name="last_update" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_web" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="pct_comision" type="xs:double" />
      <xs:element minOccurs="0" name="pct_utilidad" type="xs:double" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="precio_moneda" type="xs:double" />
      <xs:element minOccurs="0" name="unidad_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvProducto" nillable="true" type="tns:InvProducto" />
</xs:schema>